body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-gotham-pro: "Gotham Pro";
  --font-inherit: inherit;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-21xl: 40px;
  --font-size-6xl: 25px;
  --font-size-3xl: 22px;
  --font-size-xl: 20px;
  --font-size-16xl: 35px;
  --font-size-mini: 15px;
  --font-size-sm: 14px;
  --font-size-9xl: 28px;
  --font-size-lg: 18px;
  --font-size-mid: 17px;
  --font-size-13xl: 32px;

  /* Colors */
  --light-primary: #fff;
  --color-salmon: #f86161;
  --color-gray-100: #fbfbfc;
  --color-gray-200: #121b30;
  --color-gray-300: #131313;
  --color-gray-400: rgba(0, 0, 0, 0.3);
  --color-black: #000;
  --color-whitesmoke-100: #f8f8f8;
  --color-whitesmoke-200: #f1f1f1;
  --color-whitesmoke-300: #efeff3;
  --color-darkslategray-100: #3c4353;
  --color-darkslategray-200: #363b46;
  --color-darkslategray-300: #243d4d;
  --color-ivory: #f3f8eb;
  --color-yellowgreen: #83bf0e;
  --color-lightslategray-100: #629fbc;
  --color-royalblue: #0077ff;
  --color-pink: #fec9d3;
  --color-deepskyblue: #039be5;
  --color-lightgoldenrodyellow: #e1ffd3;
  --color-mediumblue: #4c1dd2;
  --color-ghostwhite: #f6f5ff;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-21xl: 40px;
  --gap-lg: 18px;
  --gap-8xl: 27px;
  --gap-51xl: 70px;
  --gap-2xs: 11px;
  --gap-mini: 15px;
  --gap-11xl: 30px;
  --gap-6xl: 25px;
  --gap-xl: 20px;
  --gap-7xs: 6px;
  --gap-22xl: 41px;
  --gap-sm: 14px;
  --gap-42xl: 61px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-14xl: 33px;

  /* border radiuses */
  --br-31xl: 50px;
  --br-3xs: 10px;
  --br-11xl: 30px;
  --br-sm: 14px;
  --br-5xs: 8px;
  --br-81xl: 100px;
  --br-xl: 20px;
  --br-8xs: 5px;
  --br-2xl: 21px;
  --br-14xl: 33px;
}
